<h1>Список Сотрудников</h1>
<div *ngIf="errors">
  <ul *ngFor="let e of errors">
    <li class="text-danger">{{e}}</li>
  </ul>
</div>
<input type="button" value="Добавить" class="btn btn-warning" (click)="add()" />
<table *ngIf="isTable; else employeeForm" class="table table-striped">
  <thead>
    <tr>
      <td>Фамилия</td>
      <td>Имя</td>
      <td>Отчество</td>
      <td>Телефон</td>
      <td>Email</td>
      <td>Дата принятия на работу</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of employees">
      <td>{{e?.lastName}}</td>
      <td>{{e?.firstName}}</td>
      <td>{{e?.middleName}}</td>
      <td>{{e?.phoneNumber}}</td>
      <td>{{e?.email}}</td>
      <td>{{e?.employmentDate | date:'dd.MM.yyyy'}}</td>
      <td>
        <button class="btn btn-sm btn-primary" (click)="edit(e)">Изменить</button>
        <button class="btn btn-sm btn-danger" (click)="delete(e)">Удалить</button>
      </td>
    </tr>
  </tbody>
</table>

<!--шаблон для добавления или изменения-->
<ng-template #employeeForm>
  <div class="form-group">
    <label>Фамилия</label>
    <input type="text" [(ngModel)]="employee.lastName" class="form-control" #lastName ="ngModel" required maxlength="255"/>
  </div>
  <div class="form-group">
    <label>Имя</label>
    <input type="text" [(ngModel)]="employee.firstName" class="form-control" #firstName ="ngModel" required maxlength="255"/>
  </div>
  <div class="form-group">
    <label>Отчество</label>
    <input type="text" [(ngModel)]="employee.middleName" class="form-control" #middleName ="ngModel" required maxlength="255"/>
  </div>
  <div class="form-group">
    <label>Телефон</label>
    <input type="text" [(ngModel)]="employee.phoneNumber" class="form-control" #phoneNumber ="ngModel" required pattern="[0-9]{11}"/>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" [(ngModel)]="employee.email" class="form-control" #email ="ngModel" required email maxlength="255"/>
  </div>
  <div class="form-group">
    <label>Дата принятия на работу</label>
    <input type="date" [(ngModel)]="employee.employmentDate" class="form-control" #employmentDate ="ngModel" required/>
  </div>
  <div>
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-success"
           [disabled]="lastName.invalid || firstName.invalid || middleName.invalid || phoneNumber.invalid || email.invalid || employmentDate.invalid"
           />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
  </div>
</ng-template>
